<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="aboutUs.css">   
    <title>Preview About</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="wrapper">

        <div class="background-container">
            <div class="bg-1"></div>
            <div class="bg-2"></div>
    
        </div>
        <div class="about-container">
            
            <!-- <div class="image-container">
                <img src="./images/programmer working on pc.png" alt="">
                
            </div> -->

            <div class="text-container">
                <h1>About us</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi porro rerum cupiditate expedita <br> distinctio nisi nulla ipsum libero molestiae minima Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid,ipsum libero molestiae</p>
                <a href="../../index.html">BACK</a>
            </div>
            
        </div>
        
    </div>
    <footer>
        <div class="content">
          <div class="left box">
            <div class="upper">

            </div>
            <div class="lower">
              <div class="topic">Contact us</div>
              <div class="phone">
                <a href="#"><i class="fas fa-phone-volume"></i>+62</a>
              </div>
              <div class="email">
                <a href="https://mail.google.com/" target="_blank"><i class="fas fa-envelope"></i>abc@gmail.com</a>
              </div>
            </div>
          </div>
          <div class="middle box">
            <div class="topic">Our Services</div>
            <div><a href="#">-</a></div>
            <div><a href="#">-</a></div>
            <div><a href="#">-</a></div>
            <div><a href="#">-</a></div>
            <div><a href="#">-</a></div>
            <div><a href="#">-</a></div>
          </div>
          <div class="right box">
            <form action="#">
              <input type="text" placeholder="Enter email address">
              <input type="submit" name="" value="Send">
              <div class="media-icons">
                <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="https://youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a>
                <a href="https://linkedin.com/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
              </div>
            </form>
          </div>
        </div>
        <div class="bottom">
          <p>Copyright © 2023  All rights reserved</p>
        </div>
      </footer>
    

</body>
</html>